{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="page-header my-5">
    <h1>About Us</h1>
</div>

<div class="content-section mb-5">
    <p>This website should give you a deeper insight into dark doldrums.</p>
    <p>I want to express my sincere gratitude to my supervisor Donald Chidera Abonyi,<br>
        to Prof. Dr. Christoph Goebel, head of the EMT chair, <br>
        and to Prof. Reinaldo Tonkoski, head of the EEN chair of TUM <br>
        for the possibility of doing this topic
        for my Bachelors Thesis.</p>
    <p>If you're looking for a specific insight, I'm looking forward to your feedback.</p>
    <i>With warm and kind regards, <br>Markus Gockel<br>m.gockel@tum.de</i>
</div>
{% endblock %}
