{% extends "base.html" %}

{% block title %}{{ title }} - Features{% endblock %}

{% block content %}
<div class="page-header my-5">
    <h1>Features</h1>
</div>

<div class="content-section">

    <!--div class="features text-center">
        <div class="shadow p-5 mb-5 bg-body align-middle rounded">
            <h3>Fast</h3>
            <span>Built with Flask for speed and efficiency.</span>
        </div>
        <div class="shadow p-5 mb-5 bg-body align-middle rounded">
            <h3>Flexible</h3>
            <span>Easy to customize and extend.</span><br>
            <span>Let us know your needs!</span>
        </div>
        <div class="shadow p-5 mb-5 bg-body align-middle rounded">
            <h3>Reliable</h3>
            <span>Tested and ready for</span><br>
            <span>your production.</span>
        </div>
    </div-->

    <i>
        To put the Dunkelflauten Cost into proper perspective, Hellbrisen saving would be needed.
    </i>

    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSDZU5CZrCqr1pFp6Ir18uLZLG3146dPXOJnnlwsyecj7ETPqfbfzXledFriyCKKGlpdwaKFrKBQ1l2/pubembed?start=true&loop=true&delayms=5000" frameborder="0" width="1440" height="839" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

    <br><br>

    <i>
        Feel free to reach out to me for further feature requests!
    </i>


</div>
{% endblock %}


