{% extends "base.html" %}

{% block title %}{{ title }} - My Website{% endblock %}

{% block content %}
<div class="hero-section">
    <h1>{{ message }}</h1>
    <p>This is the page to explore all the insights into Dunkelflauten (dark doldrums) you want.</p>
</div>


<!-- "The residual load is calculated automatically on SMARD and corresponds to the actual consumption
        or grid load minus the generation from photovoltaic installations and wind power stations."
        https://www.smard.de/en/204142-204142
        "Auf SMARD wird die Residuallast berechnet als der Stromverbrauch,
        abzüglich der Erzeugung von Photovoltaik- und Windkraftanlagen."
        https://www.smard.de/page/home/wiki-article/446/2556/stromverbrauch
        -->
<div class="form-group mt-5">
    <h3 class="form-label text-muted fw-bolder">Search for your Dunkelflauten Definition</h3>
    <div class="my-2">
        <label for="max_re_share" class="text-muted align-middle m-2">Maximum Share of Renewables</label>
        <input id="max_re_share" name="max_re_share_input" type="number" class="align-middle m-2 form-control"
                value=30 min=0 max=100> </input>
        <span class="text-muted align-middle m-2"> % </span>
    </div>
    <div class="my-2">
        <label for="min_duration" class="text-muted align-middle m-2">Minimum Duration</label>
        <input id="min_duration" name="min_duration" type="number" class="align-middle m-2 form-control"
                value=3 min=1 max=200> </input>
        <span id="time_conversion" class="text-muted align-middle m-2"> x hours = y days = z weeks </span>
        <select id="search_select_data_res" class="form-select" aria-label="Default select example">
            <option>Select Data Resolution</option>
            <option value="hour">Hour</option>
            <option value="day" selected>Day</option>
            <option value="week">Week</option>
        </select>
        <span class="text-muted align-middle m-2"
              data-tooltip=" This also sets the data resolution the search is performed upon. " >&#9432;</span>
        <br>
        <button onclick="search_dunkelflaute()" style="vertical-align: unset;"
                id="btn_search_dunkelflaute" class="btn btn-primary m-2" type="button"> Search and Highlight </button>
        <button onclick="add_dunkelflaute_timeseries()" style="vertical-align: unset;"
                id="btn_series_dunkelflaute" class="btn btn-primary m-2" type="button"> Add Occurrences and Duration Trendlines </button>
    </div>
    <div class="my-2">
    </div>
</div>


<div id="container"></div>
<div id="selectors" style="display: inline-block">
    <select id="select-resolution" class="selection resolution-selection" placeholder="Select your data resolution"></select>
    <select id="select-filter" class="selection filter-selection" placeholder="Choose your data to be displayed"> </select>
</div>


<script id="custom-script" filters="{{ filtersInverse }}" translation="{{ filtersTranslation }}"
        resolution="{{ dataResolution }}" resolutions="{{ resolutions }}"> </script>

<hr>
<hr>

<div class="form-group mt-5">
    <h3 class="form-label text-muted fw-bolder">Select Filters for Centered Moving Average</h3>
    <select id="select-cma" class="selection select-cma" placeholder="Choose your filters to be averaged"></select>
    <div class="my-4">
        <label id="label" for="period_input" class="text-muted align-middle m-2">Total Period to symmetrically mean average over</label>
        <input id="period_input" name="period_input" type="range" class="align-middle m-2"
               min="1" value="10" max="30" step="1" list="markers"> </input>
        <span id="value" class="text-muted align-middle m-2">Number</span>
        <button class="btn btn-primary m-2" onclick="cma_replacement()">Recalculate</button>
    </div>
</div>

<hr>
<hr>

<datalist id="markers">
  <option value="1"></option> <!-- 0 not possible because of range min=1 -->
  <option value="10"></option>
  <option value="20"></option>
  <option value="30"></option>
</datalist>
<!-- Automatic Range Input Value Preview and automatic Hour in Days conversion -->
<script>
    const value = document.getElementById("value");
    const input = document.getElementById("period_input");
    var period = value.textContent = input.value;
    input.addEventListener("input", (event) => {
        period = event.target.value;
        value.textContent = event.target.value });

    const inputMinDur = document.getElementById("min_duration")
    const valueTimeConv = document.getElementById("time_conversion")
    const selectDataRes = document.getElementById("search_select_data_res")

    function updateConversion() {
        var hours = 0, days = 0, weeks = 0
        var duration = parseInt(inputMinDur.value)
        switch (selectDataRes.value) {
            case "hour":
                hours = duration
                days = hours /24
                weeks = days /7
                break
            case "day":
                days = duration
                hours = days *24
                weeks = days /7
                break
            case "week":
                weeks = duration
                days = weeks *7
                hours = days *24
                break
            default:
                console.log( selectDataRes.value )
        }
        valueTimeConv.textContent = hours + " hours   =   "
            + days.toFixed(2) + " days   =   " + weeks.toFixed(2) + " weeks"
    }
    updateConversion()
    inputMinDur.addEventListener("input", () => updateConversion());
    selectDataRes.addEventListener("change", () => updateConversion())

    console.log("Executing inline Script…")
</script>




<div class="bubble-section">
    <h3 class="form-label text-muted fw-bolder">How Dunkelflauten Behave</h3>
    <div id="bubble-chart-container" class="mt-3"></div>
    <div class="controls">
        <div class="control-group">
            <label for="tableSelect">Select Table:</label>
            <select id="tableSelect">
                <option value="computed_data_dunkelflauten_enriched20">Less Than 20% Renewables</option>
                <option value="computed_data_dunkelflauten_enriched25">Less Than 25% Renewables</option>
                <option value="computed_data_dunkelflauten_enriched30" selected>Less Than 30% Renewables</option>
                <option value="computed_data_dunkelflauten_enriched35">Less Than 35% Renewables</option>
                <option value="computed_data_dunkelflauten_enriched40">Less Than 40% Renewables</option>
            </select>
        </div>
        <div class="control-group">
            <label for="xAxisSelect">X-Axis Column:</label>
            <select id="xAxisSelect"></select>
        </div>

        <div class="control-group">
            <label for="yAxisSelect">Y-Axis Column:</label>
            <select id="yAxisSelect"></select>
        </div>

        <div class="control-group">
            <label for="sizeSelect">Bubble Size Column:</label>
            <select id="sizeSelect"></select>
        </div>

        <div class="control-group">
            <label for="colorSelect">Bubble Color Column:</label>
            <select id="colorSelect"></select>
        </div>
    </div>

</div>



<script type="module" src="/static/js/setupHome.js"></script>
<script type="module" src="/static/js/flask_variables.js"></script>
<script type="module" src="/static/js/search_dunkelflaute.js"></script>
<script type="module" src="/static/js/dunkelflautenStats.js"></script>


{% endblock %}